<html>
  <head>
    <title>Hello React</title>
    <script src="http://fb.me/react-0.12.2.js"></script>
    <script src="http://fb.me/JSXTransformer-0.12.2.js"></script>
    <script src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
  </head>
  <body>
    <div id="content"></div>
    <% @var content -escape raw %>
  </body>
<!-- <?xml version="1.0" encoding="UTF-8" standalone="no"?> -->
<!-- <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> -->
<!-- <html xmlns="http://www.w3.org/1999/xhtml"> -->
<!-- <head> -->
<!--   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> -->
<!--   <link rel="stylesheet" type="text/css" media="screen" href="/css/main.css"> -->
<!--   <title><% @var title %></title> -->
<!-- </head> -->
<!-- <body> -->
<!-- <% @var content -escape raw %> -->
<!-- </body> -->
<!-- </html> -->
</html>
